/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Jul-2015, 11:18:20
    Author     : BarnabasU
*/


.smallimages{
    width:50px;
    height:50px;
    border: 1.5px solid red;
    margin-right:10px;
    float: left;
    cursor: pointer
}

#firstImage{
    border:3px solid #666;
    max-width:100%;
    max-height: 600px
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.popular-post li {
    border-bottom: 1px solid #e5e5e5;
    padding-top:5px;
}

/*h1,h4, .address{
    color : #0088CC !important;
}*/

h3.address{
    font-size:23px; 
    margin-bottom:0px;
    padding: 20px 0;
    line-height: 30px
}

#message-property p
{
    color: #901e78 !important;
    margin:10px 0;
    font-size: 16px;
    padding: 0
}

#message-property h3
{
    margin-top:0;
    padding-top: 0
}

span.price,.product-desc-sh span{
    color: #e46620;
}

#firstImage{border:4px solid #CCC;}

.smallimages{border:3px solid #ccc;}

.property-actions{
    padding: 50px 0px;
}

.property-actions div span{
    font-family:'Raleway',sans-serif; 
    font-size:15px;
    cursor: pointer
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans",sans-serif !important
  font-weight: 700;
  margin: 0;
}

h1,label{color:#901e78 !important;}/*Nim*//*ORANGE #fb6206*/ 
.hidden-sm, .hidden-xs{font-family:"Open Sans",sans-serif;}

.form-control{border:2px solid #cccccc!important; margin-top:5px;}
.top-dark-right li a{font-family:"Open Sans",sans-serif; color:#901E78;}
.top-dark-right li a:hover {color:#fb6206;}
.contact a {color:#fff;}
.contact a:hover {color:#fb6206;}
/*.btn-lg, .btn-group-lg{padding:10px 16px 17px 10px;}*/
.subscribe-form .form-control{margin-top:0px;}
p.paraText{color:#737373; text-align:justify;}
h4{color:#901e78 ;/*#737373;*/}
.btn, .border-white, .btn-lg { text-transform: uppercase;}
input, button, select, textarea, label {color:#737373; font-size:16px;}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {color:#da0000;}
#accordion h4.panel-title a{/*color:#fb6206!important;*/ color:#fb6206; background-color:#fff; font-weight:bold;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{border-bottom:none; border-top:none;}
.panel-group .panel-body { background:none;}
.panel-body {/*color:#901E78;*/ background-color:#fff!important; color:#737373;}
#login-form .form-control{width:90%;}
#w0 .form-control{width:90%;}
.help-block{font-family:"Open Sans",sans-serif;}
body{font-family:"Open Sans",sans-serif;}
.btn-theme-bg {
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, #901e78, #690c56) repeat scroll 0 0;
    border: medium none;
}


  .footer-col h3{color:#fff;/*color:#e46620;*/}
  #footer{ background:#901e78;}
  .footer-btm{background:none;}
  .navbar-default .navbar-nav > li a{color:#901e78; font-size:15px;}
   .navbar-default .navbar-nav > li a:hover{color:#e46620;}

  .top-bar-dark{background:#fafafa;}
  /*p{color:#fff;}*/
  .btn-theme-dark{background:#e46620;}
  .btn-theme-dark:hover{color:#fff;background:#e46620;}
  /*body{ font-family:"Times New Roman", Times, serif;}*/
  .top-bar-dark{ background:#fff; color:#901e78;}
  .top-dark-right li, .top-dark-right{color:#901e78;}
  .btn{border-radius:2px;}
  .btn-theme-bg{background:#901e78; border:none;
  background: -webkit-linear-gradient(180deg, #901e78, #690c56); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #901e78, #690c56); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #901e78, #690c56); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #901e78, #690c56); /* Standard syntax */}
  
  .btn-theme-bg:hover{ background: -webkit-linear-gradient(180deg, #690c56, #901e78); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #690c56, #901e78); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #690c56, #901e78); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #690c56, #901e78); /* Standard syntax */}
  
  
  .border-white, .btn-default{background:#e46620; border:none;border-radius:0;
    background: -webkit-linear-gradient(180deg, #e46620, #ca4a02); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #e46620, #ca4a02); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #e46620, #ca4a02); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #e46620, #ca4a02); /* Standard syntax */
  }
  .border-white:hover, .btn-default:hover{background:#e46620; border:none;
    background: -webkit-linear-gradient(180deg, #ca4a02, #e46620); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #ca4a02, #e46620); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #ca4a02, #e46620); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #ca4a02, #e46620); /* Standard syntax */}
  
  
  .product-desc-sh .btn-default, .product-desc-sh .btn-default:hover{color:#fff;}
  .product-desc-sh{background-color:none!important;}
  
  .rev-buttons .border-white:hover{color:#fff;}
  
  
  .socials-simple{ display:none;}
  
  .top-dark-right li{ border:none;}
  .navbar-default{box-shadow:none;}
  
  .side-nav li a{color:#901e78; font-family:"Open Sans",sans-serif;}
 .side-nav li a:hover {color:#E46620;}
 
 .product-col .img-responsive {border:4px solid #ccc;}
 .product-col a img{max-height: 152px}
 
 .sidebar-box h4{color:#E46620!important;}
 .product-desc-sh span{font-size: larger}
 
 .popular-desc h5 a{color:#690c56;}
 .popular-desc h5 a:hover{color:#E46620;}
 .popular-img a img{border:2px solid #ccc;}
 
 .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #E46620;font-family:"Open Sans",sans-serif;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #E46620;font-family:"Open Sans",sans-serif;
}

.popular-desc h6{font-family:"Open Sans",sans-serif;}

.purple-text{
    color: #901e78;
}
#footer p{
    color:#fff !important;
}

#copyright{
    color: white
}

.properties-table img{
    max-height:50px;
    width: auto    
}

#accountProfile h3{
    color: #901e78
}

div.top-bar-dark{
    background-color:#901e78;
    color: #fff
}

#undefined-sticky-wrapper{
    margin-top:20px;
    border-bottom: 2px solid lightslategray !important
}

ul.top-dark-right{
    color:white
}

.top-dark-right li, .top-dark-right li a{
    color: white !important;
}

.onclick-table tr{
    cursor: pointer
}

.onclick-table th, .properties-table tr td{
    text-align: center
}

#key-features{
    padding:0
}

#key-features li{
    /*display: inline*/
}


#property-details h4, .account-property h4{
    margin-top: 20px;
    font-size:16px
}

.no-display{
    display: none
}

.btn-default{
    color:white
}


#property-list li{
    list-style: none
}

#property-list ul{
    padding-left: 0px
}

.navbar .dropdown-menu li a {
    border-bottom: 0px
}

.navbar .dropdown-menu li a:hover {
    background-color: transparent
}

.site-login, .site-register{
    padding:20px; border:2px solid #f7f7f7;border-radius:10px
}

.site-login h1, .site-register h1{
    margin-bottom:20px
}

.blog-list li{
    list-style: none
}
